<h1>Here are your results for: <span><%= query %> </span></h1>

<% results.forEach(result=>{ %>
  <img src="<%= result.Poster %>" alt="<%= result.Title %>">
  <p><%= result.Title %> <italic>(<%= result.Year %> )</italic></p>
  <a href="/search/<%= result.imdbID %>">Learn More</a>
  <hr />
<% }) %>
